@model IEnumerable<Gestion_Stock.Models.Produit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                Modification
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">    <img src="~/images/icons/edit.png" /> </a>
                    <a asp-action="Details" asp-route-id="@item.id"> <img src="~/images/icons/infos.png" /></a>
                    <a asp-action="Delete" asp-route-id="@item.id"><img src="~/images/icons/trash.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
