@model IEnumerable<Utilisateur>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Users List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Employee Registeration</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.codePostal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.address)
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.codePostal)
                </td>
                <td>
                    @Html.DisplayFor(m => item.address)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/icons/edit.png" /> </a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/icons/infos.png" /> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/icons/trash.png" /> </a>
                </td>
            </tr>
                }
            </table>
        }
        else
        {
            <p>No category exists...</p>
        }
    </div>
</div>

